pip==20.2.1
pyTelegramBotAPI==3.6.7
peewee==3.13.3
appdirs==1.4.3
certifi==2020.4.5.1
chardet==3.0.4
distlib==0.3.0
filelock==3.0.12
idna==2.9
requests==2.23.0
six==1.14.0
urllib3==1.25.9
py-postgresql==1.2.1
PySocks==1.6.8
future==0.16.0
gunicorn==19.9.0
python-telegram-bot==10.1.0
setuptools==39.1.0
psycopg2==2.7.5
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
click==7.1.2
flask==1.1.2
itsdangerous==1.1.0
